@*
   Copyright © 2026 David Browning. All rights reserved.
   Source-available for viewing only. No license granted.
*@
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - David Browning Admin</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/lib/prism/prism.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<script src="https://kit.fontawesome.com/9800358062.js" crossorigin="anonymous"></script>
</head>
<body class="d-flex flex-column min-vh-100">
	<header>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<div class="container">
				<a class="navbar-brand"
				   asp-area=""
				   asp-controller="Home"
				   asp-action="Index">
					David Browning Admin
				</a>

				<button class="navbar-toggler"
						type="button"
						data-bs-toggle="collapse"
						data-bs-target="#adminNavbar"
						aria-controls="adminNavbar"
						aria-expanded="false"
						aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div id="adminNavbar" class="collapse navbar-collapse">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						@* <li class="nav-item">
							<a class="nav-link"
							   asp-area="" asp-controller="Home" asp-action="Index">
								Home
							</a>
						</li> *@

						<li class="nav-item">
							<a class="nav-link"
							   asp-area="" asp-controller="Writing" asp-action="Index">
								Writing
							</a>
						</li>

						<li class="nav-item">
							<a class="nav-link"
							   asp-area="" asp-controller="Projects" asp-action="Index">
								Projects
							</a>
						</li>

						<li class="nav-item">
							<a class="nav-link"
							   asp-area="" asp-controller="Work" asp-action="Index">
								Work
							</a>
						</li>

						<li class="nav-item">
							<a class="nav-link"
							   asp-area="" asp-controller="About" asp-action="Index">
								About
							</a>
						</li>

						<li class="nav-item">
							<a class="nav-link"
							   asp-area="" asp-controller="Asset" asp-action="Index">
								Assets
							</a>
						</li>


						<li class="nav-item">
							<a class="nav-link" asp-area="" asp-controller="Error" asp-action="Index">
								Errors
							</a>
						</li>
					</ul>

					<a class="btn btn-outline-light"
					   href="https://davidbrowning.com"
					   target="_blank"
					   rel="noopener noreferrer">
						View public site
					</a>
				</div>
			</div>
		</nav>
	</header>

	<main class="container flex-grow-1 py-4"
		  role="main">
		@RenderBody()
	</main>

	<footer class="border-top text-muted py-3 mt-auto">
		<div class="container">
			&copy; @DateTime.Now.Year David Browning
		</div>
	</footer>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	<script src="~/lib/htmx/htmx.min.js" asp-append-version="true"></script>
	<script src="~/js/asset-upload.js" asp-append-version="true"></script>
	<script src="~/js/admin-offcanvas.js" asp-append-version="true"></script>
	<script src="~/js/fontawesome-icon-picker.js" asp-append-version="true"></script>
	<script src="~/js/reorder-list.js" asp-append-version="true"></script>
	<script src="~/js/admin-slug.js" asp-append-version="true"></script>
	<script src="~/js/admin-copy.js" asp-append-version="true"></script>
	<script src="~/lib/prism/prism.js" asp-append-version="true"></script>

	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
