@*
   Copyright © 2026 David Browning. All rights reserved.
   Source-available for viewing only. No license granted.
*@
@model DavidBrowning.Admin.ViewModels.Writing.IndexViewModel

<div class="d-grid gap-4">
	<partial name="TagPanel" model="Model.Tags" />
	<partial name="StylePanel" model="Model.Styles" />
</div>