@*
   Copyright © 2026 David Browning. All rights reserved.
   Source-available for viewing only. No license granted.
*@
@model PostListViewModel
@using DavidBrowning.Admin.ViewModels.Writing
@using DavidBrowning.Admin.ViewModels.Writing.Posts

<div id="@WritingAdminIds.PostListRegion" hx-swap-oob="innerHTML">
	<partial name="PostList" model="Model" />
</div>