@*
   Copyright © 2026 David Browning. All rights reserved.
   Source-available for viewing only. No license granted.
*@
@model DavidBrowning.Admin.ViewModels.Writing.Posts.IndexViewModel
@using DavidBrowning.Admin.ViewModels.Writing
@{
	ViewData["Title"] = "Posts";
}

<div class="container py-4">
	<header class="mb-4">
		<h1>Posts</h1>
		<p class="text-secondary mb-0">
			Create and edit posts.
		</p>
	</header>
	<div class="row g-4 align-items-start">
		<div class="col-12 col-xl-4">
			<div id="@WritingAdminIds.PostCreateMetadataRegion">
				<partial name="PostMetadataEdit" model="Model.Metadata"/>
			</div>
		</div>

		<div class="col-12 col-xl-8">
			<div id="@WritingAdminIds.PostRevisionHistoryRegion">
				<partial name="PostRevisionHistory" model="Model.RevisionHistory"/>
			</div>
			<div class="@WritingAdminIds.PostRevisionContentRegion">
				<partial name="PostRevisionEdit" model="Model.RevisionContent"/>
			</div>
		</div>
	</div>
</div>