@*
   Copyright © 2026 David Browning. All rights reserved.
   Source-available for viewing only. No license granted.
*@
@model DavidBrowning.Admin.ViewModels.Writing.Posts.PostRevisionHistoryViewModel
<section class="card">
	<div class="card-body">
		<h2>
			Post revision history
		</h2>
		<p>Manage revisions for this post</p>
		<div>
			<button>New Revision</button>
		</div>
	</div>
</section>