@*
   Copyright © 2026 David Browning. All rights reserved.
   Source-available for viewing only. No license granted.
*@
@model DavidBrowning.Admin.ViewModels.Error.IndexViewModel


<section>
	<div class="container">
		<partial name="List" model="Model.Errors" />
		<partial name="_Pager" model="Model.Pager" />
	</div>

</section>