@* Copyright © 2026 David Browning. All rights reserved.
   Source-available for viewing only. No license granted. *@
@*
	A query tag is a bootstrap pill that when clicked, directs to a search query
	of the attached slug in the controller.

	Put this partial view inside an unordered list like this:
	  <ul class="wb-tag-list mt-4">
	  @foreach (var tag in Model.StackTagLinks)
	  {
		 <partial.../>
	  }
	</ul>
*@
@model DavidBrowning.Web.ViewModels.QueryTagViewModel
@inject DavidBrowning.Infrastructure.UrlBuilder urlBuilder
@{
	var url = urlBuilder.GetSearchUrl(Model.Slug, Model.Controller, Model.Endpoint);
}

<li class="wb-tag">
	<a class="wb-footer-link" href="@url">@Model.DisplayName</a>
</li>