@*
   Copyright © 2026 David Browning. All rights reserved.
   Source-available for viewing only. No license granted.
*@
@model DavidBrowning.Admin.ViewModels.Work.Credentials.ListViewModel

<div id="@DavidBrowning.Admin.ViewModels.Work.WorkAdminIds.CredentialListRegion"
	 hx-swap-oob="innerHTML">
	<partial name="CredentialList" model="Model" />
</div>
