@*
   Copyright © 2026 David Browning. All rights reserved.
   Source-available for viewing only. No license granted.
*@
@model DavidBrowning.Admin.ViewModels.Work.Credentials.IndexViewModel
@{
	ViewData["Title"] = "Credentials";
}

<div class="container py-4">
	<header class="mb-4">
		<h1>
			Credentials
		</h1>
	</header>
	<p class="text-secondary">
		Edit work experience, job roles and highlights.
	</p>
	<div class="row g-4">
		<div class="col-12 col-xl-5">
			<div id="@DavidBrowning.Admin.ViewModels.Work.WorkAdminIds.CredentialCreateRegion">
				<partial name="CredentialEdit" model="Model.Create" />
			</div>
		</div>
		<div class="col-12 col-xl-7">
			<div id="@DavidBrowning.Admin.ViewModels.Work.WorkAdminIds.CredentialListRegion">
				<partial name="CredentialList" model="Model.List" />
			</div>
		</div>
	</div>
</div>
<partial name="_AdminOffcanvas" model="Model.EditOffcanvas" />
<script src="~/js/credential-edit.js"></script>