@*
   Copyright © 2026 David Browning. All rights reserved.
   Source-available for viewing only. No license granted.
*@
@model DavidBrowning.Admin.ViewModels.Work.Experience.EditViewModel
@using DavidBrowning.Admin.ViewModels
@{
	bool isEditMode = Model.EditMode == EditModes.Edit;

	ViewData["Title"] = isEditMode
	   ? "Edit work experience"
	   : "Create work experience";
}

@if (isEditMode)
{
	<div class="container py-4">
		<header class="d-flex flex-column flex-md-row justify-content-between gap-3 mb-4">
			<div>
				<h1>
					Edit work experience
				</h1>
				<p class="text-secondary mb-0">
					Edit @Model.CompanyName work experience.
				</p>
			</div>

			<div class="flex-shrink-0">
				<a class="btn btn-outline-secondary"
				   asp-controller="Work"
				   asp-action="ExperienceIndex">
					Back to work experience
				</a>
			</div>
		</header>

		<div class="row g-4 align-items-start">
			<div class="col-12 col-xl-5">
				<partial name="ExperienceMetadataEdit" model="Model" />
			</div>

			<div class="col-12 col-xl-7">
				<partial name="RoleEditList" model="Model.Roles" />
			</div>
		</div>
	</div>
}
else
{
	<partial name="ExperienceMetadataEdit" model="Model" />
}