@*
   Copyright © 2026 David Browning. All rights reserved.
   Source-available for viewing only. No license granted.
*@
@using DavidBrowning.Admin.ViewModels.Work;
@model DavidBrowning.Admin.ViewModels.Work.IndexViewModel
@{
	ViewData["Title"] = "Work";
}

<div class="container py-4">
	<header class="mb-4">
		<h1>
			Work
		</h1>
		<p class="text-secondary">
			Manage the content on the Work page and upload a resume.
		</p>
	</header>
	<div class="row g-4 align-items-start">
		<div class="col">
			<div id="@WorkAdminIds.ResumeUploadregion">
				<partial name="ResumePreview" model="Model.Resume" />
			</div>
		</div>
		<div class="col">
			<partial name="ExperiencePreview" model="Model.ExperiencePreview" />
		</div>
		<div class="col">
			<partial name="CredentialPreview" model="Model.CredentialPreview" />
		</div>
	</div>
</div>