@*
   Copyright © 2026 David Browning. All rights reserved.
   Source-available for viewing only. No license granted.
*@
@model DavidBrowning.Admin.ViewModels.About.IndexViewModel

@{
	ViewData["Title"] = "About";
}

<div class="container py-4">
	<header class="mb-4">
		<h1 class="h2 mb-1">About</h1>

		<p class="text-secondary mb-0">
			Manage the content displayed on the public About page.
		</p>
	</header>

	<div class="row g-4 align-items-start">
		<div class="col-12 col-xl-5">
			<partial name="InterestEdit"
					 model="Model.Create" />
		</div>

		<div class="col-12 col-xl-7">
			<partial name="InterestList"
					 model="Model.List" />
		</div>
	</div>
</div>