@*
   Copyright © 2026 David Browning. All rights reserved.
   Source-available for viewing only. No license granted.
*@
@model DavidBrowning.Admin.ViewModels.About.IndexViewModel

<partial name="InterestEdit" model="Model.Create" />

<div id="interest-list-region" hx-swap-oob="innerHTML">
	<partial name="InterestList" model="Model.List" />
</div>